  <div class="message mb-2 <%= 'me' if message.user == current_user %>">
      <div class="content-container">
        <% if message.user == current_user %>
        <span class="content">
          <%= message.content %>
        </span>
        <% if message.user.profile.header_image.present? %>
          <span class="author">
            <%= image_tag(message.user.profile.header_image, size:"30x30", id: "avt_img") %>
          </span>
        <% else %>
          <span class="author">
            <%= image_tag("avt.jpg", size:"30x30", id: "avt_img") %>
          </span>
        <% end %>
      </div>
        <% if message.header_image.present? %>
        <div class="img_ip">
          <%= image_tag(message.header_image, width:"200px", class: "input_img" ) %>
        <</div>
        <% end %>         
      <% else %>
        <div class="content-container">
          <% if message.user.profile.header_image.present? %>
          <span class="author">
            <%= image_tag(message.user.profile.header_image, size:"30x30", id: "avt_img") %>
          </span>
          <% else %>
          <span class="author">
            <%= image_tag("avt.jpg", size:"30x30", id: "avt_img") %>
          </span>
          <% end %>
          <span class="content">
            <%= message.content %>
          </span>
        </div>
            <% if message.header_image.present? %>
              <div class="img_ip2">
                <%= image_tag(message.header_image, width:"200px", class: "input_img" ) %>
              </div>
            <% end %>
      <% end %>  
  </div>
