<%= form_with(model: [@post, @comment], url: post_comments_path(@post.id) ) do |f| %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :content, placeholder: "Type your comment here...", class: "input-mysize" %>
    <span class="btn btn-large btn-file">
      <%= image_tag("img.jpg", size:"40x40") %>
      <%= f.file_field :header_image %>
    </span>
    <%= f.submit "Send", class: "btn btn-outline-dark comment-submit", id:"submit_btn" %>
<% end %>
