    <% @comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <div class="comment-container" id="test-<%=comment.id%>">
          <div class="comment-box">
            <div class="avt_cmt"><%= image_tag(comment.user.profile.header_image, size:"30x30", id: "avt_img") %> </div>
            <div class="comment">
              <div class="cmt_body">
                <div class="comment-nickname">
                  <span class="user_cmt" style="font-size: 20px; "><%= link_to "#{comment.user.email}",  comment.user.profile  %> 
                  </span> 
                      <% if comment.user == current_user %>
                        <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true do %>
                          <button id="delete-btn"><%= image_tag("delete.jpg", size:"15x15") %></button>
                        <% end %>
                      <% end %>
                  <p style="font-size: 10px; margin-bottom: 5px;">(<%= comment.created_at.to_s(:datetime_jp) %>)</p>
                </div>
                <div class="comment-entry">
                  <span ><%= comment.content %></span>
                  <p>
                    <% if comment.header_image.present? %>
                      <%= image_tag(comment.header_image, width: '200px') %>
                    <% end %>
                  </p>
                </div>
              </div>
              <br>
              </div>
           </div>
        </div>
      <% end %>
    <% end %>
    <div class="collapse" id="collapseExample">
      <% @comments.offset(2).each do |comment| %>
        <% unless comment.id.nil? %>
          <li class="comment-container" id="test-<%=comment.id%>">
          <div class="comment-box">
            <div class="avt_cmt"><%= image_tag(comment.user.profile.header_image, size:"30x30", id: "avt_img") %> </div>
            <div class="comment">
              <div class="cmt_body">
                <div class="comment-nickname">
                  <span class="user_cmt" style="font-size: 20px; ">
                    </span> 
                      <% if comment.user == current_user %>
                        <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true do %>
                          <button id="delete-btn"><%= image_tag("delete.jpg", size:"15x15") %></button>
                        <% end %>
                      <% end %>
                  <p style="font-size: 10px; margin-bottom: 5px;">(<%= comment.created_at.to_s(:datetime_jp) %>)</p>
                </div>
                <div class="comment-entry">
                  <span ><%= comment.content %></span>
                </div>
              </div>
              <br>
              </div>
           </div>
        </li>
        <% end %>
      <% end %>
    </div>